<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ task_object.name }}</title>
</head>
<body>
<main>
    <div>
        <h1>{{ task_object.name }} </h1>
        <p> <a href= "{% url 'todo_list_update' task_object.id %}">Edit</a></p>
        <p> <a href="{% url 'todo_list_delete' task_object.id %}">Delete</a> </p>
        <h2> Task </h2>
        <table style = "width:15%">
        <thead>
            <tr>
                <th> Task </th>
                <th> Due date </th>
            </tr>
        </thead>
        <tbody>
            {% for task in task_object.items.all %}
            <tr>
                <td> <a href="{% url 'todo_item_update' task.id  %}">{{ task.task }}</a> </td>
                <td>  {{ task.due_date|date:"M j, Y" }} </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
</main>
</body>
</html>